

* {
    padding: 0;
    margin: 0;
}
body {
    background: linear-gradient(#af68ea,#8665e8, #6462e7);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.woman-draw, .shadow-draw {
    position: absolute;
    right: 60%;
    width: 400px;
    z-index: -1;
}

.box-draw {
    position: absolute;
    bottom: 50%;
    left: 10%;
    z-index: 1;
}

.wrapper {
    width: 800px;
    height: 500px;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px 2px #efefef;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.left {
    align-items: center;
    display: flex;
}

.card-right {
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-grow: 1;
}

.collapse {
    flex-direction: column;
}

.card {
    align-self: center;
    position: relative;
}

.card-header {
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 10px;
    width: 100%;
    text-align: left;
    outline: none;
    color: black;
}

.card-body {
    display: none;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.icon {
    width: 15px;
    height: 15px;
    align-self: center;
}

.attribution {
    position: absolute;
    top: 100%;
}