@media (max-width: 840px) {
    .wrapper {
        overflow: unset !important;
    }
    .left {
        position: absolute ;
        margin-right: auto;
        justify-content: center !important;
    }
    .card-right {
        width: 80% !important;
        margin-top: 10%;
        align-items: center !important;
    }
    .woman-draw {
        max-width: 100%;
        width: auto !important;
        height: auto !important;
        right: auto !important;
    }
    .box-draw {
        display: none !important;
    }
    .shadow-draw {
        width: 275px !important;
        height: auto !important;
        right: auto !important;
        position: absolute !important;
        margin-right: auto !important;
        margin-left: 20px !important;
    }
    .collapse {
        width: 100% !important;
    }
}

* {
    padding: 0;
    margin: 0;
}
body {
    background: linear-gradient(#af68ea,#8665e8, #6462e7);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.woman-draw {
    position: absolute;
    right: 60%;
    width: 400px;
    z-index: 1;
}

.shadow-draw {
    position: absolute;
    right: 50%;
    z-index: -1;
    margin-bottom: 20%;
}

.box-draw {
    position: absolute;
    bottom: 30%;
    left: 10%;
    z-index: 1;
}

.wrapper {
    width: 800px;
    height: 500px;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px 2px #efefef;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: relative;
    z-index: 1;
    overflow: hidden;
    max-width: 80%;
}

.left {
    align-items: center;
    display: flex;
    margin-right: 50%;
}

.card-right {
    align-items: end;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    display: flex;
    width: 50%;
}

.collapse {
    flex-direction: column;
    border-bottom: 1px solid #efefef;
    width: 80%;
    padding: 5px;
}

.card {
    align-self: center;
    position: relative;
}

.card-header {
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 10px;
    width: 100%;
    outline: none;
    color: black;
    text-align: left;
}

.card-header::after {
    content: url("../../images/icon-arrow-down.svg");
    float: right;
    margin-left: 10px;
}

.active::after {
    content: url("../../images/icon-arrow-down.svg");
    transform: rotate(180deg);
}

.card-body {
    display: none;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}

.icon {
    width: 15px;
    height: 15px;
    align-self: center;
}

.attribution {
    position: absolute;
    top: 100%;
}